<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0e33c8fd-9178-4f6e-aa1a-dc1dfd17c83b/resourceGroups/doubleescapingtest-rg/providers/Microsoft.Web/sites/WebAppDEULinux</ResourceId>
    <ResourceGroup>doubleescapingtest-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webappdeulinux.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0f365361-ef9c-40a4-989d-01274ffb29fe</ProjectGuid>
    <PublishUrl>https://webappdeulinux.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebAppDEULinux</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>